<h1>todos!</h1>

<h2>Todos that are yet to be done</h2>

<div id="todotasks">

          <!-- Dynamically Insert tasks here -->
          {{#each todos}} <!-- loop thru all todolists -->
            {{#unless this.completed}} <!-- format only incomplete ones, boolean false -->
              <form action="/todolist/update/{{this.id}}" method="POST">
                <div class="input-group todoDone">
                  <li class="form-control todoTrim">{{this.name}}</li>
                  <span class="input-group-btn">
                    <button class="btn btn-success chgtaskButton" type="submit">Complete</button>
                  </span>
                </div> <!-- end class=input-group todoDone -->
              </form> <!-- end form -->
            {{/unless}} <!-- end unless -->
          {{/each}} <!-- end each -->
        </div>  <!-- end todotasks -->

<h2>Todos that you handled like a boss</h2>

        <div id="already_completed">
          <!-- Dynamically Insert completed tasks Here -->
          {{#each todos}} <!-- loop thru all todolists -->
            {{#if this.completed}} <!-- format only complete ones, boolean true -->
              <form action="/todolist/delete/{{this.id}}" method="POST">
                <div class="input-group todoDone">
                  <li class="form-control todoTrim">{{this.name}}</li>
                  <span class="input-group-btn">
                      <button class="btn btn-success addtaskButton" id={{id}} type="submit">Delete</button>
                  </span>
                </div>  <!-- end class=form-control todoTrim -->
              </form> <!-- end form -->
            {{/if}} <!-- end if -->         
          {{/each}} <!-- end each -->
        </div> <!-- end already_completed -->

<h2>Add a todo</h2>
<form class="create-form">

  <div class="form-group">
    <label for="name">todo Name:</label>
    <input type="text" id="name" name="name">
  </div>

  <div class="form-group">
    <label for="completed">completed?</label><br>
    <input type="radio" name="completed" value="1" checked> Completed!<br>
    <input type="radio" name="completed" value="0"> In Progress
  </div>

  <button type="submit">Add todo</button>
</form>