<h1>todos!</h1>

<h2>Todos that are yet to be done</h2>

<div id="todotasks">

          {{#each todos}} 
            {{#unless this.completed}} 
              <form action="/todolist/update/{{this.id}}" method="POST">
                <div class="input-group todoDone">
                  <li class="form-control todoTrim">{{this.name}}</li>
                  <span class="input-group-btn">
                    <button class="btn btn-success chgtaskButton" type="submit">Complete</button>
                  </span>
                </div>
              </form> 
            {{/unless}}
          {{/each}}
        </div> 

<h2>Todos that you handled like a boss</h2>

        <div id="already_completed">
          {{#each todos}} 
            {{#if this.completed}}
              <form action="/todolist/delete/{{this.id}}" method="POST">
                <div class="input-group todoDone">
                  <li class="form-control todoTrim">{{this.name}}</li>
                  <span class="input-group-btn">
                      <button class="btn btn-success addtaskButton" id={{id}} type="submit">Delete</button>
                  </span>
                </div>  
              </form> 
            {{/if}}       
          {{/each}} 
        </div> 

<h2>Add a todo</h2>
<form class="create-form">

  <div class="form-group">
    <label for="name">todo Name:</label>
    <input type="text" id="name" name="name">
  </div>

  <div class="form-group">
    <label for="completed">completed?</label><br>
    <input type="radio" name="completed" value="1" checked> Completed!<br>
    <input type="radio" name="completed" value="0"> In Progress
  </div>

  <button type="submit">Add todo</button>
</form>